/* ---------------------------------------------------------------------------
BEGIN global settings
----------------------------------------------------------------------------*/

body {
	--glbl-padding:1.5rem;
	--glbl-font-vbold:900;
	--glbl-menu-arrow-height:0.75rem;
	--glbl-transition-time:0.4s; /* debug */
	--glbl-scrollbar-offset:12px;
	
	--hdr-height:3rem;
	
	--clr-hover-title-bg:var(--clr-dropdown-toggle-hover-bg);
	--clr-hover-title-shadow:var(--clr-dropdown-shadow);
}


/* ---------------------------------------------------------------------------
END global settings
----------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------
BEGIN global component styles
NOTE: this are IN ADDITION TO the base component styles in base-components.css
----------------------------------------------------------------------------*/

/*
NOTE: the setting of body colors above effectively overrides
the color settings in base-components.css without needing additional css
*/

body {
	font-family:sans-serif;
	transition:all var(--glbl-transition-time) ease;
}
h1,h2,h3,h4,h5,h6 {
	font-family:sans-serif;
	font-weight:600;
}

/* ---------------------------------------------------------------------------
END global component styles
----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------
BEGIN module styles
----------------------------------------------------------------------------*/

.hdr-nav-cont .cell.hdr-options-cell {
	height:var(--hdr-height);
	display:flex;
	align-items:center;
	justify-content:flex-end;
}

footer {
	text-align:center;
}

/* ---------------------------------------------------------------------------
END module styles
----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------
BEGIN medium and large display adjustments (mobile is default)
----------------------------------------------------------------------------*/
@media all and (min-width:768px) { /* $screen-size-medium */

	/* ---------------------------------------------------------------------------
	BEGIN global settings
	----------------------------------------------------------------------------*/

	body {
		--hdr-height:2rem;
	}

	/* ---------------------------------------------------------------------------
	END global settings
	----------------------------------------------------------------------------*/

	/* ---------------------------------------------------------------------------
	BEGIN module styles
	----------------------------------------------------------------------------*/
	body {
		min-height:101vh; /* ensure the scrollbar is ALWAYS shown */
	}
	.hdr-nav-cont > .grid-container {
		max-width:calc(var(--glbl-max-width) + var(--glbl-scrollbar-offset));
	}
	.hdr-nav-cont .cell.hdr-options-cell {
		padding-right:12px; /* correct for header width being larger to accomodate scroll offset */
	}

	/* ---------------------------------------------------------------------------
	END module styles
	----------------------------------------------------------------------------*/
}


